@model IEnumerable< OnlineShopping.BL.Model.CategoryVM>
@{
    ViewData["Title"] = "Index";
    var x = 0;
}

<h1 class="mb-3">Categories</h1>
<a class="btn btn-primary" asp-action="CreateCategory" asp-controller="Category">
    <i class="bi bi-plus-square-fill mt-5" ></i> Add New Categories
</a>

<table class="table table-bordered border-primary mt-4">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Action</th> 
            <th scope="col">SubCategory</th>

        </tr>
    </thead>
    <tbody>
    @foreach(var item in Model)
    {
            x = x + 1;
            <tr>
                <th scope="row">@x</th>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>
                    <a class="me-3" style="color:#4154f1;cursor: pointer;" asp-action="DetailsCategory" asp-controller="Category" asp-route-Id="@item.Id">
                        <i class="bi bi-caret-right-square-fill "></i>
                        Details
                    </a>
                    <a class="me-3" style="color:#4154f1;cursor: pointer;" asp-action="EditCategory" asp-controller="Category" asp-route-Id="@item.Id">
                        <i class="bi bi-caret-right-square-fill"></i>
                        Edit
                    </a>
                    <a class="me-3" style="color:#4154f1;cursor: pointer;" asp-action="DeleteCategory" asp-controller="Category" asp-route-Id="@item.Id">
                        <i class="bi bi-caret-right-square-fill"></i>
                        Delete
                    </a>
                </td>
                <td>
                    <a class="me-3" style="color:#4154f1;cursor: pointer;" asp-action="Index" asp-controller="SubCategory" asp-route-Id="@item.Id">
                        <i class="bi bi-caret-right-square-fill"></i>
                        SubCategory
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
